@charset "utf-8";
/* CSS Document */
body {
	font-family:  Arial;
}
.nav1{
	background-color: #0099CC !important;
}
.color1{
	color: aliceblue !important;
}
.color2{
	color: #1C1C1C !important;
}
.nav2{
	background-color:#3399FF !important;
}

.modal-header, h4, .close {
    background-color: #0099FF;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-footer {
    background-color: #f9f9f9;
  }
.details_discount {
	text-decoration-line: line-through;
	
}
.btn a:hover {
	text-decoration: none;
}